.header {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	max-width: 1264px;
	gap: 27px;
	padding: 28px 88px;
}

.logo {
	font-size: 20px;
	font-weight: var(--text);
	color: var(--blue);
}

.nav > ul {
	display: flex;
	gap: 27px;
}

.nav a {
	font-size: 20px;
	font-weight: var(--text);
	color: var(--black);
	transition: 0.3s ease;
}

.nav a:hover {
	color: var(--blue);
}

.search {
	display: flex;
	align-items: center;
	box-sizing: border-box;
	padding: 8px 0px 8px 10px;
	width: 400px;
	height: 40px;
	border: 1px solid var(--blue);
	border-radius: 15px;
}

.search input {
	background: transparent;
	border: none;
	outline: none;
	color: var(--blue);
}

.header button {
	width: 160px;
	height: 40px;
	background-color: var(--blue);
	border: none;
	border-radius: 10px;
	color: var(--white);
	font-size: 14px;
	font-weight: var(--sub-title);
	transition: 0.3s ease;
}

.header button:active {
	transform: scale(0.95);
}

.user {
	display: flex;
	align-items: center;
	width: 120px;
	height: 45px;
}

.user p {
	font-size: 20px;
	font-weight: var(--text);
	padding-right: 15px;
	transition: 0.3s ease;
	cursor: pointer;
}

.user p:hover {
	color: var(--blue);
}

.icon {
	background-color: var(--blue);
	border-radius: 50%;
	padding: 5px;
}
