.footer {
	background-color: #0f172a;
	color: white;
}

.container {
	max-width: 1440px;
	margin: 0 auto;
	padding: 4rem 8rem;
	display: flex;
	flex-direction: column;
}

.grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 4rem;
	margin-bottom: 3rem;
	align-items: stretch;
}

.column {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	height: 100%;
}

.logoColumn {
	margin-top: 25px;
}

.title {
	font-weight: 600;
	font-size: 20px;
	margin-bottom: 1rem;
}

.textGray {
	color: #8f8f8f;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.6;
}

.bottomBar {
	padding-top: 2rem;
	border-top: 1px solid #1f2937;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.socialLinks {
	display: flex;
	gap: 1rem;
}

.socialIcon {
	width: 2.5rem;
	height: 2.5rem;
	border-radius: 9999px;
	background-color: #1f2937;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: background-color 0.3s;
}

.socialIcon:hover {
	background-color: #1d4ed8;
}

.link {
	color: inherit;
	text-decoration: none;
	transition: color 0.3s;
}

.link:hover {
	color: white;
}
